/* Theam.css */
body {
  transition: all 0.3s ease;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  /* display: flex; */
}
.lang{
  position: absolute;
  top: 5%;
  left: 30%;
}
.select-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

select:hover {
  border-color: #888;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}



.theme-light {
  background-color: white;
  /* color: black; */
}

.theme-dark {
  background-color: black;
  /* color: white; */
}
.content-area {
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 600px; /* Optional: Set a max-width for content area */
}